<form class="auto-complete-form">
  <mat-form-field class="example-full-width">
    <input
      matInput
      [placeholder]="placeHolder"
      aria-label="Item"
      [matAutocomplete]="auto"
      [formControl]="stateCtrl"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      class="auto-complete-field"
      (optionSelected)="getSelectedItem($event)"
    >
      <mat-option
        *ngFor="let item of filteredStates | async"
        [value]="item"
        [ngStyle]="{ display: toHighlight ? 'block' : 'none' }"
      >
        <ng-container
          *ngIf="headerTemplateRef"
          [ngTemplateOutlet]="headerTemplateRef"
          [ngTemplateOutletContext]="{ $implicit: item }"
        >
        </ng-container>
        <span
          [innerHTML]="
            highlight ? (item.name | highlight: toHighlight) : item.name
          "
        ></span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
